[submodule "ae-dummy-servers"]
	path = ae-dummy-servers
    url = https://git.cs.uni-paderborn.de/syssec/projects/steckruebe/ae-dummy-servers.git
[submodule "asn-ip"]
	path = asn-ip
	url = https://github.com/ipverse/asn-ip
    shallow = true
