backup/
*.log
out*/
tranco_*.csv
session_cache/
zgrab2
test.json
__pycache__
*.pyc
99_z1_initial.html
99_z2_redirected.html
trie.pickle
.venv/
venv/
.idea/
analysisdump/
analysisdump_*/

neo4jdata/
htmlneo4jdata/
neo4jdata.bak/
figures/

# AE
zcrypto_tls13/
zdns/
zgrab2_tls13/
zmap/
zmapv6/
domains.txt
hosts.txt
mongo/
