[submodule "ae-dummy-servers"]
	path = ae-dummy-servers
    url = https://github.com/UPB-SysSec/stekruebe-dummy-servers.git
[submodule "asn-ip"]
	path = asn-ip
	url = https://github.com/ipverse/asn-ip
    shallow = true
